@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "roboto";
    src: url("./fonts/roboto.ttf");
  }
  @font-face {
    font-family: "roboto1";
    src: url("./fonts/roboto.woff2");
  }
  @font-face {
    font-family: "roboto2";
    src: url("./fonts/roboto2.woff2");
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    transform: translateY(40px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  85% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-80px); /* Bergerak ke atas dan menghilang */
  }
}

@keyframes before {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    transform: translateY(-40px);
    opacity: 1;
  }
}

@keyframes after {
  from {
    opacity: 1;
    transform: translateY(-40px);
  }
  to {
    transform: translateY(-80px);
    opacity: 0;
  }
}

@keyframes bouncing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
