@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "roboto";
    src: url("./fonts/roboto.ttf");
  }
  @font-face {
    font-family: "roboto1";
    src: url("./fonts/roboto.woff2");
  }
  @font-face {
    font-family: "roboto2";
    src: url("./fonts/roboto2.woff2");
  }
}

@keyframes fade {
0% {
    opacity: 1; 
    transform: translateY(5px);
}
20% {
    opacity: 1;
    transform: translateY(0);
}
80% {
  opacity: 1;
  transform: translateY(0);
}

100% {
    opacity: 0;
    transform: translateY(-30px); /* Bergerak ke atas dan menghilang */
}
}
 